.title{
    width: 100%;
    height: 50px;
    /* background: red; */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    /* vertical-align:middle; */
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    background-image: url('../images/titleBg.png');
    opacity: 0.8;
    text-decoration: none;
    display: flex;
    flex-direction: 'row';
    justify-content: space-between;
    color: #fff;
}
.logoText{
    text-decoration: none;
}
.logo{
    width: 44px;
    height: 28px;
    margin-left: 50px;
    margin-top: 11px;
    float: left;
}
.titleText{
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}
.determine{
    position: absolute;
    top:330px;
    right: 200px;
    width: 300px;
    height: 50px;
    background: #5a2dff;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}
.determine:hover{
    /* font-size: 25px;    */
}
.search{
    width: 300px;
    height: 20px;
    margin-top: 15px;
    margin-right: 50px;
    border: 1px solid #fff;
    position: relative;
    display: flex;
    flex-direction: row;
}
.searchInput{
    width: 270px;
    height: 20px;
    position: absolute;
    border: none;
    /* background:rgba(0, 0, 0, 0); */
    background-color:transparent;
    color: #fff;
    outline:none;
}
/* input[placeholder], [placeholder], *[placeholder] {
   color:red !important;
} */
*::-webkit-input-placeholder {
    color: white;
}

*:-moz-placeholder {
    color: white;
}

*:-ms-input-placeholder {
    /* IE10+ */
    color: white;
}
.searchBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    float: right;
    line-height: 20px;
    right: -10px;
    cursor: pointer;
}
.items{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.item{
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    font-family: "Adobe 黑体 Std R";
    cursor: pointer;
    /* line-height: 50px; */
    margin-top: 0px;
}
.item li{
    list-style-type:none;
    height: 50px;
}
/* .items:ul li:hover{
    color: #5b2dff;
} */
.item li:hover{
    color: #5b2dff;
}
.analyse{
    width: 100%;
    height: 420px;
    background-color: #f4f7fe;
}
.ten{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    font-family: "Adobe 黑体 Std R";
    font-weight: 700;
    animation-name: bounceInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.tenAnalyse{
    display: flex;
    flex-direction: row;
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}
.analyse_1,.analyse_2,.analyse_3{
    width: 100px;
    height: 100px;
    background-color: #f04747;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 40px #f04747;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 100px;
}
.analysebg1{
    width: 70px;
    height: 70px;
    margin:15px;
    /* background: green; */
}
.analysebg2{
    width: 50px;
    height: 50px;
    margin:10px;
    /* background: green; */
}
.analysebg3{
    width: 70px;
    height: 70px;
    margin:10px;
    /* background: green; */
}
.analyseIcon1{
    height: 35px;
    margin-top: 35px;
    font-size: 40px;
}
.analyseIcon2{
    height: 25px;
    font-size: 25px;
}
.analyseIcon3{
    height: 35px;
    font-size: 35px;
}
.analyseText{
    height: 35px;
    color: white;
    font-size: 12px;
}
.analyse_2{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #fc9c56;
    margin-left: 20px;
    margin-top: 70px;
}
.analyse_3{
    width: 90px;
    height: 90px;
    /* border-radius: 45px; */
    background-color: #fee060;
    margin-left: 30px;
    margin-top: 20px;
}
.analyse_1:hover{
    animation: cirbtnanim 0.6s;
    animation-fill-mode: forwards;
}
.analyse_2:hover{
    animation: cirbtnanim 0.6s;
    animation-fill-mode: forwards;
}
.analyse_3:hover{
    animation: cirbtnanim 0.6s;
    animation-fill-mode: forwards;
}
.immediatelyEvaluation,.immediatelyEvaluation2{
    width: 160px;
    height: 60px;
    background: #7d58ff;
    line-height: 60px;
    text-align: center;
    margin:20px auto;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.solve{
    width: 100%;
    height: 500px;
    background: white;
}
.solveTitle{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-family: "Adobe 黑体 Std R";
    font-weight: 700;
    animation-name: wobble;
    /* animation-name: bounceInLeft; */
    animation-duration: 1s;
    animation-fill-mode: both;
}
.slide-item{
    position: relative;
    float: left;
    color: #000;
    font-size: 0;
    text-align: center;
    min-width: 236px;
    max-width: 288px;
    min-height: 344px;
    cursor: pointer;
}
.item-bg{
    width: 100%;
    height: 100%;
}
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.bg{
    position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: #161a1d;
opacity: .6;
filter: alpha(opacity=60);
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(60));
transition: all .4s cubic-bezier(.4,0,.2,1);
}
.content{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.item-img-panerl{
    position: relative;
width: 25%;
height: 54px;
display: inline-block;
}
.line-pamel{
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    margin-top: 20px;
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.item-line{
    width: 20px;
    height: 2px;
    background: #fff;
    display: inline-block;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.item-title{
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-weight: 700;
    transition: all .4s cubic-bezier(.4,0,.2,1);
}
.growup{
    width: 100%;
    height: 340px;
    background: #f4f7fe;
}
.growupTitle{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-family: "Adobe 黑体 Std R";
    font-weight: 700;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.groupsubhead{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: "Adobe 黑体 Std R";
    color: #666;
}
.datas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
.databg{
    width: 15%;
    height: 100px;
    background: #f4f7fe;
    border: 2px solid #7d58ff;
    border-radius: 50px;
    text-align: center;
    /* padding: 0 auto; */
}
.dataTitle{
    padding-top: 20px;
    height: 30px;
    color: #7d58ff;
    line-height: 30px;
}
.dataText{
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 22px;
}
.mission{
    width: 100%;
    height: 360px;
    background: white;
    /* padding: 0px 10%; */
}
.missions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
}
.missionbg{
    text-align: center;
}
.missionText,.missionText2{
    line-height: 30px;
}
.missionText2{
    margin-top: 15px;
    line-height: 30px;
}
.open{
    width: 100%;
    height: 500px;
    background: #2b303c;
    text-align: center;
}
.openTitle{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-family: "Adobe 黑体 Std R";
    font-weight: 700;
    color: white;
}
.openImg{
    margin-top: 50px;
}
.immediatelyEvaluation2{
    margin-top: 100px;
}
@keyframes cirbtnanim{
		100%{
			transform:scale(0.9);
			box-shadow: 0px 0px 120px #EDEDED;
		}
	}
	@-webkit-keyframes cirbtnanim{
		100%{
			transform:scale(0.9);
			box-shadow: 0px 0px 120px #EDEDED;
		}
	}
